# Copy to .env for local overrides. start.sh will do this automatically if .env
# does not exist.

DOCKER_DB_ROOT_PASSWORD=password

DOCKER_AUTH_EXTERNAL_PORT=3724
DOCKER_WORLD_EXTERNAL_PORT=8085
DOCKER_SOAP_EXTERNAL_PORT=7878
DOCKER_DB_EXTERNAL_PORT=3306

# Named volumes keep saves/database/client data outside the containers.
DOCKER_VOL_DB=ac-database
DOCKER_VOL_DATA=ac-client-data
DOCKER_VOL_ETC=./env/dist/etc
DOCKER_VOL_LOGS=./env/dist/logs

# Leave this empty unless you want to point the extractor tools at a local
# 3.3.5a client directory.
DOCKER_AC_CLIENT_FOLDER=./var/client
